@model ElectronicTheatreBoxOffice.Models.Seating
<ul class="mainmenu">
    <li><a href="/Home/Index">Главная</a></li>
    <li><a href="/Home/Seances">Сейчас в Кино</a></li>
    <li><a href="/Home/SignIn">Администрирование</a></li>
</ul>
<hr />
<table border="0">
    <caption><h3>Добавление сеанса</h3></caption>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.SeanceID,new { @Value = ViewBag.ID})
        @*<tr>
            <td>Ваш телефон в формате 375YYXXXXXXX</td>
            <td>
                @Html.TextBoxFor(m => m.UserID)
            </td>
        </tr>*@
        <tr>
            <td>Ряд</td>
            <td>
                @Html.TextBoxFor(m => m.Row)
            </td>
        </tr>
        <tr>
            <td>Место</td>
            <td>
                @Html.TextBoxFor(m => m.Place)
            </td>
        </tr>
        <tr>
            <td>
                <input style="width:100Px" type="submit" value="Заказать">
            </td>
        </tr>
    }
</table>