@model ElectronicTheatreBoxOffice.Models.SeatingsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <ul class="mainmenu">
            <li><a href="/Home/Index">Главная</a></li>
            <li><a href="/Home/Seances">Сейчас в Кино</a></li>
            <li><a href="/Home/SignIn">Администрирование</a></li>
        </ul>
        <hr />
        @using (Html.BeginForm())
        {
                <input type="hidden" value="@ViewBag.SeanceId" name="SeanceId" />
                <table>
                    <tr>
                        <td><p>Ваш телефон в формате 375YYXXXXXXX</p></td>
                        <td><input type="text" name="UserID"/> </td>
                    </tr>
                </table>
            @*</div>
            <div>*@
                <table>
                    <tr>
                        <td><p>Место</p></td>
                        @for (int k = 1; k < 31; k++)
                        {
                            <td>@k</td>
                        }
                    </tr>
                        @for (int i = 1; i < 11; i++)
                        {
                        <tr>
                            <td>Ряд @i</td>
                            @for (int j = 0; j < 30; j++)
                            {
                                bool flag = false;
                                foreach (var z in ViewBag.seatings)
                                {
                                    if (z == j + 1 + (i - 1) * 30)
                                    {
                                        flag = true;
                                    }
                                }
                                if (flag)
                                {
                                    <td><input type="checkbox" name="seats" checked="checked" disabled /></td>
                                    flag = false;
                                }
                                else
                                {
                                    <td><input type="checkbox" name="seats"/></td>
                                }
                            }
                        </tr>
                        }    
                    <tr><td><input type="submit" value="Заказать"/> </td><td>@ViewBag.SeanceId</td></tr>              
                </table>
        }
    </div>