@{
    ViewBag.Title = "Home Page";
}

<div>

    <ul class="mainmenu">
        <li><a href="/Home/Index"><strong>Главная</strong></a></li>
        <li><a href="/Home/Seances">Сейчас в Кино</a></li>
        <li><a href="/Home/Images">Галерея изображений</a></li>
        <li><a href="/Home/SignUp">Регистрация</a></li>
        <li><a href="/Home/SignIn">Авторизация</a></li>
    </ul>
    <hr />
    <img src="/img/index_img.jpg" align="middle" />
</div>
