@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Смотрите в нашем кинотеатре</title>
</head>
<body>
    <div>
        <h3>Сеансы</h3>
        <table>
            <tr>
                <td><p>Дата</p></td>
                <td><p>Время</p></td>
                <td><p>Название</p></td>
                <td><p>Жанр</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Seances)
            {
                <tr>
                    <td><p>@b.dt</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Genre</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Заказать</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>