@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="mainmenu">
        <li><a href="/Home/Index">Главная</a></li>
        <li><a href="/Home/Seances"><strong>Сейчас в Кино</strong></a></li>
        <li><a href="/Home/Images">Галерея изображений</a></li>
        <li><a href="/Home/SignUp">Регистрация</a></li>
        <li><a href="/Home/SignIn">Авторизация</a></li>
    </ul>
    <hr />
    <form>
        <input type="date" name="mydate1">
        <input type="submit" onclick='Seances()' value="Показать" />
    </form>
    <h3>Сеансы</h3>
    <table>
        <tr>
            <td><p>Дата и время</p></td>
            <td><p>Название</p></td>
            <td><p>Жанр</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Seances)
        {
            //if (b.dt.Date == DateTime.Now.Date)

            <tr>
                <td><p>@b.dt</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.Genre</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Билеты</a></p></td>
                <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>

            </tr>

        }
    </table>
</div>