
<ul class="mainmenu">
    <li><a href="/Home/Index">Главная</a></li>
    <li><a href="/Home/Seances"><strong>Сейчас в Кино</strong></a></li>
    <li><a href="/Home/Images">Галерея изображений</a></li>
    <li><a href="/Home/SignUp">Регистрация</a></li>
    <li><a href="/Home/SignIn">Авторизация</a></li>
</ul>
<hr />
<table border="0">
    <caption><h3>Сейчас в Кино</h3></caption>
    <th text-align="center">Дата сеанса</th>
    <th text-align="center">Название</th>
    <th text-align="center">Время</th>
    <tr>
        <td width="1000" align="center">15 марта,сегодня</td>
        <td width="1000" align="center">Смешарики.Легенда о золотом драконе <br />Зверополис<br />Дивергент. Глава 3 </td>
        <td width="1000" align="center">12:00   17:00<br />15:00   19:00<br />21:00</td>
    </tr>
</table>