<ul class="mainmenu">
    <li><a href="/Home/Index">Главная</a></li>
    <li><a href="/Home/Seances">Сейчас в Кино</a></li>
    <li><a href="/Home/Images">Галерея изображений</a></li>
    <li><a href="/Home/SignUp">Регистрация</a></li>
    <li><a href="/Home/SignIn"><strong>Авторизация</strong></a></li>
</ul>
<hr />
<table border="0">
    <caption><h3>Авторизация</h3></caption>
    <tr>
        <td>Логин</td>
        <td>
            <input type="text" required="" name="login"></input>
        </td>
    </tr>
    <tr>
        <td>Пароль</td>
        <td>
            <input type="password" required="" name="password1"></input>
        </td>
    </tr>
    <tr>
        <td>
            <input style="width:100Px" type="submit" value="Вход"></input>
        </td>
    </tr>
</table>
