<ul class="mainmenu">
    <li><a href="/Home/Index">Главная</a></li>
    <li><a href="/Home/Seances">Сейчас в Кино</a></li>
    <li><a href="/Home/Images">Галерея изображений</a></li>
    <li><a href="/Home/SignUp"><strong>Регистрация</strong></a></li>
    <li><a href="/Home/SignIn">Авторизация</a></li>
</ul>
<hr />
<table border="0">
    <caption><h3>Регистрация</h3></caption>
    <tr>
        <td>Логин</td>
        <td>
            <input type="text" required="" name="login"></input>
        </td>
    </tr>
    <tr>
        <td>Пароль</td>
        <td>
            <input type="password" required="" name="password1"></input>
        </td>
    </tr>
    <tr>
        <td>Подтверждение пароля</td>
        <td>
            <input type="password" required="" name="password2"></input>
        </td>
    </tr>
    <tr>
        <td>Мобильный телефон</td>
        <td>
            <input type="text" required="" name="phone"></input>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Регистрация"></input>
        </td>
    </tr>
</table>
