@model ElectronicTheatreBoxOffice.Models.LoginModel
<ul class="mainmenu">
    <li><a href="/Home/Index">Главная</a></li>
    <li><a href="/Home/Seances">Сейчас в Кино</a></li>
    <li><a href="/Home/Images">Галерея изображений</a></li>
    <li><a href="/Home/SignUp">Регистрация</a></li>
    <li><a href="/Home/SignIn"><strong>Авторизация</strong></a></li>
</ul>
<hr />
<table border="0">
    <caption><h3>Авторизация</h3></caption>
    @using (Html.BeginForm())
    {
    <tr>
        <td>Логин</td>
        <td>
            @Html.TextBoxFor(m => m.Login)
        </td>
    </tr>
    <tr>
        <td>Пароль</td>
        <td>
            @Html.TextBoxFor(m => m.Password)
        </td>
    </tr>
    <tr>
        <td>
            <input style="width:100Px" type="submit" value="Вход">
        </td>
    </tr>
    }
</table>
